@mixin debug ($offset: 0, $color: red) {
  outline: 1px solid $color;

  @if $offset {
    outline-offset: $offset;
  }
}

@mixin easing ($duration: 100ms, $property: all, $will-change: false) {
  transition-duration: $duration;
  transition-property: $property;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

  @if $will-change {
    will-change: $property;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin invisible-scroll ($direction: x) {
  scrollbar-width: none;
  -ms-overflow-style: none;

  @if $direction == x {
    overflow-x: scroll;
    overflow-y: hidden;
  } @else if $direction == y {
    overflow-x: hidden;
    overflow-y: scroll;
  } @else {
    overflow-x: scroll;
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    display: none;
    height: 0;
    background: transparent;
  }
}
