:root {
  --color-text: #222;
  --color-background: #EFEFEF;

  --font-family-sans: system-ui, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  --font-family-mono: font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', menlo, consolas, 'DejaVu Sans Mono', monospace;
  --font-size: 1.3rem;
  --line-height: 1.3;
}
