@keyframes spin {
  from { transform: none; }
  to { transform: rotate(1turn); }
}

.nut {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;

  svg {
    width: 30%;
    height: auto;
    animation: spin linear infinite;
    animation-duration: calc(2s * 1 / var(--speed));
    fill: currentcolor;

    @if $env == 'test' {
      fill: none;
      stroke: currentcolor;
    }
  }
}
